body {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .dropdown {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    margin: 30px;
    width: 320px;
    cursor: pointer;
  }
  
  .material-symbols-outlined {
    background-color: transparent;
    border: none;
  }
  
  .menu {
    height: 280px;
  }
  .menu li {
    font-size: 24px;
    padding: 14px 6px;
    margin: 2px;
  }
  .dropdown.closed .menu {
    height: 0px;
  }
  
  #home {
    background-color: grey;
  }
  
  #green {
    background-color: #21ff1e;
  }
  
  #blue {
    background-color: #321eff;
  }
  
  #yellow {
    background-color: #f0f30f;
  }
  
  #red {
    background-color: #f50c08;
  }
  